<!doctype html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Web Application to Generate and Securely Store Secrets">
<meta name="keywords" content="PyPass, Python, security, passwords, dice, rolls, EFF, random.org">
<meta name="author" content="nicorellius (CISTech Consulting)">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='font_awesome/css/font-awesome.css') }}">
<link href="https://fonts.googleapis.com/css?family=Archivo Narrow|Fjalla One|Anton|Oswald|Amiri|BioRhyme|Crimson+Text|Domine|Droid+Serif|Open+Sans+Condensed:300|Roboto|Sanchez|Tinos|Volkhov" rel="stylesheet">

<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<title>PyPass - Password Manager & Generator</title>
</head>

{% include 'noscript.html' %}

<div class="page">

    <h1 id="main-title">
        <a href="/"><i id="logo" class="fa fa-lock fa-lg"></i></a>
        <span id="app-title">PyPass3</span>
        <span class="xs-sub">&nbsp; Password Generator & Manager</span>
        <a href="#settings">
            <i id="settings-gear" class="glyphicon glyphicon-cog" aria-hidden="true"></i>
        </a>
    </h1>

    <div class="metanav">
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">
        <span class="bold">Sign In</span>
        </a>
    {% else %}
        <span class="float-left">
            Logged in as
            {% if current_user.is_anonymous %}
            <span class="bold">guest</span>
            {% else %}
            <span class="bold">{{ current_user }}</span>
            {% endif %}
        </span>

        <a href="{{ url_for('logout') }}">
        <span class="bold">Sign Out</span>
        </a>
    {% endif %}
    </div>

    {% with notifications = get_flashed_messages(category_filter=['notifications']) %}
        {% for msg in notifications %}
        <div class="alert flash" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="btn-close" aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=['errors']) %}
        {% if errors %}
            {% for msg in errors %}
            <div class="alert flash error" role="alert">
                <strong>Error: </strong>{{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span class="btn-close" aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if session.logged_in %}
        <ul id="main-nav" class="sm-font nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#generate" aria-controls="generate" role="tab" data-toggle="tab">Generate</a>
            </li>
            <li role="presentation">
                <a href="#manage" aria-controls="manage" role="tab" data-toggle="tab">Manage</a>
            </li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
            </li>
            <li role="presentation">
                <a href="#settings" aria-controls="profile" role="tab" data-toggle="tab">Settings</a>
            </li>
        </ul>
    {% endif %}

    <section class="instructions top-mar-1em">
        <p>
            Make robust secrets with random characters, words, or numbers, using
            <a href="https://www.random.org" target="_blank">RANDOM.ORG</a>
            true randomness (from atmospheric noise). Choose number of dice and how
            many times to roll to create passphrases from
            <a href="https://www.eff.org/deeplinks/2016/07/new-wordlists-random-passphrases" target="_blank">
                EFF word lists</a>.
            <a id="rm-link">
                <span class="label label-default">Read more...</span>
            </a>
        </p>

        <p id="rm1" class="hide">
            Number of rolls determines how many words in your passphrase.
            Number of dice determine which EFF word list to use: long
            or short. Defaults to 5 dice and 5 rolls and long word list
            for words type.
        <p>
        <p id="rm2" class="hide">
            Mixed, numbers, and alphanumeric types don't use dice, but instead
            use length. Defaults to 20. Longer passwords are better. Mixed type
            uses an alphanumeric character list with capitals and these
            additional special characters: ! @ # $ % ^ & * _ + = - ? ~ ) (
        </p>
        <p id="rm3" class="hide">
            Finally, if you want UUIDs or Faux IDs, you can choose this option.
            Defaults to UUID (32 alphanumeric characters seperated by hypens with
            the following pattern: 8-4-4-4-12).
            <a id="rl-link">
                <span class="label label-default">Read less...</span>
            </a>
        </p>

        {% if session.logged_in %}
            {% with secrets = get_flashed_messages(category_filter=['secrets']) %}
                {% if secrets %}
                    {% for msg in secrets %}
                    <span class="sm-font bold">Your secret is:</span>
                    <div class="flashy">
                        <pre id="secret-field">{{ msg }}</pre>
                        <button id="copy-secret" class="btn btn-sm btn-custom-success">
                            <strong><i class="fa fa-files-o"></i></strong>
                        </button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endif %}

    </section>

    <div class="tab-content">
        <div id="generate" class="tab-pane fade in active">
            {% block generate %}{% endblock generate %}
        </div>
        <div id="manage" class="tab-pane fade">
            {% include 'manage.html' %}
        </div>
        <div id="profile" class="tab-pane fade">
            {% include 'profile.html' %}
        </div>
        <div id="settings" class="tab-pane fade">
            {% include 'settings.html' %}
        </div>
    </div>

    {% block login %}{% endblock login %}

    <div id="spinner" class="spinner">
        <img id="img-spinner" src="{{
            url_for('static', filename='images/spinner.gif')
        }}" alt="Generating...">
    </div>

</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

<script>
if (window.location.hash == '#_=_') {
history.replaceState
    ? history.replaceState(null, null, window.location.href.split('#')[0])
    : window.location.hash = '';
}
</script>