{% extends "layout.html" %}

{% block login %}

<h2>Sign in with social authentication (OAuth2)</h2>

<form action="{{ url_for('login') }}" method="post">

    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

#     <div class="social-auth-box">
#         <div class="">
#             <a class="btn btn-default top-mar-1em"
#                href="{{ url_for('oauth_authorize', provider='github') }}">
#                 <img class="pull-left" src="{{ url_for('static', filename='images/github.png') }}">
#                 GitHub
#             </a>
# 
#             <a class="btn btn-default top-mar-1em"
#                href="{{ url_for('oauth_authorize', provider='facebook') }}">
#                 <img class="pull-left" src="{{ url_for('static', filename='images/facebook.png') }}">
#                 Facebook
#             </a>
# 
#         </div>
#         <div class="">
#             <a class="btn btn-default top-mar-1em"
#                href="{{ url_for('oauth_authorize', provider='twitter') }}">
#                 <img class="pull-left" src="{{ url_for('static', filename='images/twitter.png') }}">
#                 Twitter
#             </a>
#             <a class="btn btn-default top-mar-1em"
#                href="{{ url_for('oauth_authorize', provider='google') }}">
#                 <img class="pull-left" src="{{ url_for('static', filename='images/google.png') }}">
#                 Google
#             </a>
#         </div>
#     </div>

    <div class="login-box">
        <p class="top-mar-1em">Or, use your username/password</p>

        <label for="username">
            Username<br>
            <input type="text" name="username" id="username" placeholder="guest">
        </label>

        <label for="password">
            Password<br>
            <input type="password" name="password" id="password" placeholder="password">
        </label>

        <p class="sm-font">Guests, try it out with 'guest' and 'password'</p>

        <button class="btn btn-custom-primary btn-block top-mar-1em" type="submit">
            Sign in
        </button>

    </div>

</form>

{% endblock login %}