{% block manage %}

<h2>Manage Secrets</h2>

<p>
    Add an entry to your secret collection. All passwords are hashed
    with <a href="https://password-hashing.net/submissions/specs/Argon-v3.pdf"
            target="_blank">Argon2</a>
    and entire entries are stored in a document store using
    <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard"
       target="_blank">AES encryption</a>.
</p>

    {% if session.logged_in %}

    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">

        <div>
            <div class="form-group">
                <label for="account-name">Name of Account</label>
                <input id="account-name" name="account" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="username">Username/Sign in</label>
                <input id="username" name="username" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="account-email">Account E-mail</label>
                <input id="account-email" name="email" type="email" class="form-control">
            </div>

            <div id="pwd-wrapper" class="form-group">
                <label for="password">Password/Passphrase</label>
                <i class="fa fa-eye fa-lg toggler-icon"
                    onclick="if(password.type=='text') { password.type='password'; } else password.type='text';">
                </i>
                <input id="password" name="password" type="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Sign in URL</label>
                <input id="" name="url" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="account-name-notes">Notes
                    <textarea class="custom-textarea" name="notes"></textarea>
                </label>
            </div>

            <button style="width: 150px;" class="btn btn-custom-success" type="submit">
                Save
            </button>

            <a href="/" style="float: right; width: 150px;" class="btn btn-custom-danger" type="submit" role="button">
                Cancel
            </a>
        </div>

    </form>

    {% endif %}

{% endblock manage %}