<noscript>

<style>

body { padding-top: 2.5em; }

p.noscript_warning {
    position: fixed;
    top: 0;
    width: 100%; /* For Browser Compatibility */
    z-index: 10 !important;
    color: white;
    font-weight: bold;
    background-color: rgb(160, 0, 0);
    font-size: 10pt;
    /* line-height: 2; */
    padding: 5px 0;
    text-align: center;
}

</style>

<p class="noscript_warning">
    JavaScript is disabled! This site works best if JavaScript is enabled.
</p>

</noscript>
