a {
    cursor: pointer;
    outline: 0;
}

a:hover, a:active, a:after {
    outline: 0;
}

a, h1, h2 { color: #377ba8; }
h2 { font-size: 1.2em; }
label {}

.entries li { margin: 0.8em 1.2em; }
.entries li h2 { margin-left: -1em; }
.add-entry { font-weight: bold; }
.login-box input { float: right; }
.sm-font { font-size: 9pt; }
.bold { font-weight: bold; }
.unbold { font-weight: normal; }
.show { display: block; }
.hide { display: none; }

.top-mar-1em { margin-top: 1em; }
.top-mar-2em { margin-top: 2em; }
.top-mar-3em { margin-top: 3em; }
.top-mar-4em { margin-top: 4em; }
.top-mar-4em { margin-top: 5em; }

.float-right { float: right; }
.float-left { float: left; }

h1 {
    border-bottom: 2px solid #eee;
    margin-top: 5px;
}

.xs-sub {
    font-size: 50%;
    color: #2b542c;
    font-family: Oswald, sans-serif;
}

.login-box, .login-box label input {
    width: 250px;
}

.social-auth-box .btn {
    min-width: 150px;
}

.red-title {
    color: darkred;
    font-family: Fjalla One, sans-serif;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {

    /*font-family: 'Sanchez', serif;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'BioRhyme', serif;*/
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Droid Serif', serif;*/
    /*font-family: 'Crimson Text', serif;*/
    /*font-family: 'Domine', serif;*/
    /*font-family: 'Tinos', serif;*/
    /*font-family: 'Volkhov', serif;*/
    /*font-family: 'Amiri', serif;*/
    /*font-family: sans-serif;*/
    /*font-family: Archivo Narrow, sans-serif;*/
    background: #eee;
    font-size: 13px;
}

/*h1, h2 {*/
    /*font-family: 'Georgia', serif;*/
    /*margin: 0;*/
/*}*/

.toggler-icon {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    width: 15px;
    position: absolute;
    right: 10px;
    top: 30px;
}

#pwd-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.page {
    margin: 1em auto;
    max-width: 460px;  /*34em;*/
    min-width: 280px;
    /*border: 5px solid #ccc;*/
    padding: 0.8em;
    background: white;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.metanav {
    text-align: right;
    font-size: 9pt;
    padding: 10px;
    margin-bottom: 1em;
    background: #fafafa;
}

.btn-close {
    font-size: 12pt;
}

.flashy pre {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
    border-radius: 3px;
    font-family: 'Courier 10 Pitch', 'Courier New', monospace;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: pre-line;
}

.flash {
    background: #d0f4d4;
    padding: 0.5em;
    border: 1px solid #98ce9e;
    border-radius: 3px;
    font-size: 9pt;
    color: #5e5e5e;
    margin-top: 10px;
}

#secret-field {
    max-width: 395px;
}

#copy-secret {
    float: right;
    margin-top: -44px;
    height: 34px;
}

textarea.custom-textarea {
    height: 100px;
    width: 438px;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
    border: 1px solid #c99b9b;
    border-radius: 3px;
}

.btn-container {
    width: 150px;
    float: right;
    margin: 18px auto auto;
}

.btn1-container {
    width: 150px;
    margin: -49px 145px auto;
}

.spinner {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    opacity: 0.7;
    background-color: #eee;
    z-index: 99;
    text-align: center;
}

#img-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -33px;
    margin-top: -33px;
    text-align: center;
    z-index: 1234;
    overflow: auto;
    width: 66px;
    height: 66px;
}

input#length { width: 100px; }

input[type='radio'], input[type='checkbox'] {
  margin-top: -1px;
  vertical-align: middle;
}

.radio-group, .field-group {
    margin: 10px 0;
}

.short-p {
    margin: 5px 0;
}

#settings-gear {
    float: right;
    font-size: 25px;
    color: darkslategray;
}

a i#settings-gear:hover {
    color: gray;
}

#app-title {
    color: darkred;
    font-family: Fjalla One, sans-serif;
}

a #logo {
    padding: 0 0 5px 0;
    color: darkslategray;
}

a #logo:hover {
    text-decoration: none;
    opacity: 0.8;
}

a#rm-link:hover, a#rl-link:hover {
    text-decoration: none;
}

#encrypt-option {
    margin-top: -30px;
}

.nav > li > a {
    padding: 5px 10px;
}

button.close span { vertical-align: text-top; }

/*e1e5e3*/
.btn-custom-default {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="e1e5e3", endColorstr="e1e5e3");
    background-image: -moz-linear-gradient(top, #e1e5e3, #e1e5e3);
    background-image: -ms-linear-gradient(top, #e1e5e3, #e1e5e3);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e5e3), color-stop(100%, #e1e5e3));
    background-image: -webkit-linear-gradient(top, #e1e5e3, #e1e5e3);
    background-image: -o-linear-gradient(top, #e1e5e3, #e1e5e3);
    background-image: linear-gradient(#e1e5e3, #e1e5e3);

}

/*c7ccca*/
.btn-custom-default:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="c7ccca", endColorstr="c7ccca");
    background-image: -moz-linear-gradient(top, #c7ccca, #c7ccca);
    background-image: -ms-linear-gradient(top, #c7ccca, #c7ccca);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7ccca), color-stop(100%, #c7ccca));
    background-image: -webkit-linear-gradient(top, #c7ccca, #c7ccca);
    background-image: -o-linear-gradient(top, #c7ccca, #c7ccca);
    background-image: linear-gradient(#c7ccca, #c7ccca);
}

/*01288a*/
.btn-custom-primary {
    background-color: hsl(0, 0%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01288a", endColorstr="#01288a");
    background-image: -moz-linear-gradient(top, #01288a, #01288a);
    background-image: -ms-linear-gradient(top, #01288a, #01288a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #01288a), color-stop(100%, #01288a));
    background-image: -webkit-linear-gradient(top, #01288a, #01288a);
    background-image: -o-linear-gradient(top, #01288a, #01288a);
    background-image: linear-gradient(#01288a, #01288a);
    border-color: #01288a #01288a hsl(0, 0%, 20.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

/*011d64*/
.btn-custom-primary:hover {
    background-color: hsl(0, 0%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011d64", endColorstr="#011d64");
    background-image: -moz-linear-gradient(top, #011d64, #011d64);
    background-image: -ms-linear-gradient(top, #011d64, #011d64);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #011d64), color-stop(100%, #011d64));
    background-image: -webkit-linear-gradient(top, #011d64, #011d64);
    background-image: -o-linear-gradient(top, #011d64, #011d64);
    background-image: linear-gradient(#011d64, #011d64);
    border-color: #011d64 #011d64 hsl(0, 0%, 20.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

/*306f01*/
.btn-custom-success {
    background-color: hsl(0, 0%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#306f01", endColorstr="#306f01");
    background-image: -moz-linear-gradient(top, #306f01, #306f01);
    background-image: -ms-linear-gradient(top, #306f01, #306f01);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #306f01), color-stop(100%, #306f01));
    background-image: -webkit-linear-gradient(top, #306f01, #306f01);
    background-image: -o-linear-gradient(top, #306f01, #306f01);
    background-image: linear-gradient(#306f01, #306f01);
    border-color: #306f01 #306f01 hsl(0, 0%, 20.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

/*295f06*/
.btn-custom-success:hover {
    background-color: hsl(0, 0%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#295f06", endColorstr="#295f06");
    background-image: -moz-linear-gradient(top, #295f06, #295f06);
    background-image: -ms-linear-gradient(top, #295f06, #295f06);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #295f06), color-stop(100%, #295f06));
    background-image: -webkit-linear-gradient(top, #295f06, #295f06);
    background-image: -o-linear-gradient(top, #295f06, #295f06);
    background-image: linear-gradient(#295f06, #295f06);
    border-color: #295f06 #295f06 hsl(0, 0%, 20.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

/*03b196*/
.btn-custom-info {
    background-color: hsl(0, 0%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03b196", endColorstr="#03b196");
    background-image: -moz-linear-gradient(top, #03b196, #03b196);
    background-image: -ms-linear-gradient(top, #03b196, #03b196);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #03b196), color-stop(100%, #03b196));
    background-image: -webkit-linear-gradient(top, #03b196, #03b196);
    background-image: -o-linear-gradient(top, #03b196, #03b196);
    background-image: linear-gradient(#03b196, #03b196);
    border-color: #03b196 #03b196 hsl(0, 0%, 20.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

/*de4e00*/
.btn-custom-warning {
    background-color: hsl(0, 0%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de4e00", endColorstr="#de4e00");
    background-image: -moz-linear-gradient(top, #de4e00, #de4e00);
    background-image: -ms-linear-gradient(top, #de4e00, #de4e00);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #de4e00), color-stop(100%, #de4e00));
    background-image: -webkit-linear-gradient(top, #de4e00, #de4e00);
    background-image: -o-linear-gradient(top, #de4e00, #de4e00);
    background-image: linear-gradient(#de4e00, #de4e00);
    border-color: #de4e00 #de4e00 hsl(0, 0%, 20.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

/*ac2521*/
.btn-custom-danger {
    background-color: hsl(0, 0%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ac2521", endColorstr="#ac2521");
    background-image: -moz-linear-gradient(top, #ac2521, #ac2521);
    background-image: -ms-linear-gradient(top, #ac2521, #ac2521);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ac2521), color-stop(100%, #ac2521));
    background-image: -webkit-linear-gradient(top, #ac2521, #ac2521);
    background-image: -o-linear-gradient(top, #ac2521, #ac2521);
    background-image: linear-gradient(#ac2521, #ac2521);
    border-color: #ac2521 #ac2521 hsl(0, 0%, 20.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

/*840a07*/
.btn-custom-danger:hover {
    background-color: hsl(0, 0%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#840a07", endColorstr="#840a07");
    background-image: -moz-linear-gradient(top, #840a07, #840a07);
    background-image: -ms-linear-gradient(top, #840a07, #840a07);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #840a07), color-stop(100%, #840a07));
    background-image: -webkit-linear-gradient(top, #840a07, #840a07);
    background-image: -o-linear-gradient(top, #840a07, #840a07);
    background-image: linear-gradient(#840a07, #840a07);
    border-color: #840a07 #840a07 hsl(0, 0%, 20.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 500px) {

    .page {margin: 1em 1em; }

    #p1 {
        margin-right: 60px;
    }
    
    #uuid-type-rb {
        display: none;
    }

    textarea.custom-textarea {
        margin: 0 auto;
    }
}

@media (max-width: 450px) {

    .xs-sub {
        display: none;
    }
}
