{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}

    <form action="{{ url_for('generate_secret') }}" method="post" class="add-entry">

        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

        <div class="radio-group">
            <p class="short-p">Secret Type<p>
            <label class="radio-inline">
                <input type="radio" name="type" id="words" value="words" checked>
                Words
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" id="mixed" value="mixed">
                Mixed
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" id="numbers" value="numbers">
                Numbers
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" id="uuid" value="uuid">
                <small><strong>*And a bonus option: UUID</strong></small>
            </label>
        </div>

        <hr>

        <div class="radio-group">
            <p class="short-p">Number of dice</p>
            <label class="radio-inline">
                <input type="radio" name="dice" id="dice4" value="4">
                4
            </label>
            <label class="radio-inline">
                <input type="radio" name="dice" id="dice5" value="5" checked>
                5
            </label>
        </div>

        <hr>

        <div class="radio-group">
            <p class="short-p">Number of rolls</p>
            <label class="radio-inline">
                <input type="radio" name="rolls" id="rolls3" value="3">
                3
            </label>
            <label class="radio-inline">
                <input type="radio" name="rolls" id="rolls4" value="4">
                4
            </label>
            <label class="radio-inline">
                <input type="radio" name="rolls" id="rolls5" value="5" checked>
                5
            </label>
        </div>

        <hr>

        <div class="field-group">
            <label>Password length<br>
                <input type="text" name="length" id="length" placeholder="20">
            </label>

            <div class="btn-container">
                <button id="generate" class="btn btn-custom-primary btn-block"
                        type="submit" name="submit" value="Generate">
                    <i class="glyphicon glyphicon-refresh"></i> &nbsp; Generate
                </button>
            </div>
        </div>

    </form>

    <hr class="top-mar-1em">

    <div class="field-group">
        <label>Playground<br>
            <textarea name="secret" rows="5" cols="50"></textarea>
        </label>
    </div>

    {% endif %}
{% endblock %}