<!doctype html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Flask Web Application to Generate Passwords">
<meta name="keywords" content="Python, security, passwords, dice, rolls, EFF, random.org">
<meta name="author" content="nicorellius">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link href="https://fonts.googleapis.com/css?family=Amiri|BioRhyme|Crimson+Text|Domine|Droid+Serif|Open+Sans+Condensed:300|Roboto|Sanchez|Tinos|Volkhov" rel="stylesheet">

<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<title>PyPass3 - Password Generator</title>
</head>

<div class="page">

    <h1 id="main-title">
        <a href="/">
            <img class="logo" src="{{ url_for('static', filename='images/lock_icon.png') }}">
        </a>
        Password Generator
        <a href="{{ url_for('settings') }}">
            <i id="settings-gear" class="glyphicon glyphicon-cog" aria-hidden="true"></i>
        </a>
    </h1>

    <div class="metanav">
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
    {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
        <span style="float: left; font-weight: bold;">Results</span>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    {% if message == 'You were logged in' %}
    <div class="flash">
        {{ message }}>
    </div>
    {% elif message == 'You were logged out' %}
    <div class="flash">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}

    {% if session.logged_in %}
        {% for message in get_flashed_messages() %}
            {% if message != 'You were logged in' %}
            <div class="flashy">
                <pre id="p1">{{ message }}</pre>
                <button id="p2" class="btn btn-sm btn-custom-success">Copy</button>
            </div>
            {% endif%}
        {% endfor %}
    {% endif%}

    <!--{% if not session.logged_in %}-->
        <!--<div class="metanav">-->
            <!--<a href="{{ url_for('login') }}">log in</a>-->
        <!--</div>-->
        <!--{% for message in get_flashed_messages() %}-->
        <!--<div class="flashy">{{ message }}</div>-->
        <!--{% endfor %}-->
    <!--{% else %}-->
        <!--<div class="metanav">-->
            <!--<span style="float: left; font-weight: bold;">Results</span>-->
            <!--<a href="{{ url_for('logout') }}">log out</a>-->
        <!--</div>-->
        <!--{% for message in get_flashed_messages() %}-->
        <!--<div class="flash">-->
            <!--<pre id="p1">{{ message }}</pre>-->
            <!--{% if session.logged_in %}-->
            <!--{% if message != 'You were logged in' %}-->
            <!--<button id="p2" class="btn btn-sm btn-success">Copy</button>-->
            <!--{% endif %}-->
            <!--{% endif%}-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--{% endif %}-->
    <section class="instructions top-mar-1em">
        <p>
            Make robust secrets with random characters, words, or numbers, using
            <a href="https://www.random.org" target="_blank">RANDOM.ORG</a>
            mostly random strings and numbers. Choose number of dice and how
            many times to roll to create passphrases of common words.
            <a id="rm-link">
                <span class="label label-default">Read more...</span>
            </a>
        </p>

        <p id="rm1" class="hide-div">
            Number of rolls determines how many words in your passphrase.
            Number of dice determine which EFF word list to use: long
            or short. Defaults to 5 dice and 5 rolls and long word list
            for words type.
        <p>
        <p id="rm2" class="hide-div">
            Mixed and numbers type don't use dice, but instead use length.
            Defaults to 20. Longer passwords are better. Mixed type uses a
            character list containing alphanumeric with capitals, and these
            additional special characters: ( ! @ # $ % ^ & * _ + = - ? ~ )
        </p>
        <p id="rm3" class="hide-div">
            Finally, if you want UUIDs or Faux IDs, you can choose this option.
            Defaults to UUID (32 alphanumeric characters seperated by hypens with
            the following pattern: 8-4-4-4-12).
            <a id="rl-link">
                <span class="label label-default">Read less...</span>
            </a>
        </p>
    </section>
    {% block body %}{% endblock %}

</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>